<!DOCTYPE html>
<html>
    {% include 'head.html' %}
    {% include 'navbar.html' %}
    <body>
        <div class="container">
            <h5> {{ user.getUsername }}</h5>
            <ul>
                <li>Password: {{ user.getPassword }}</li>
                <li>Identity:{% for identity in identities %}
                                {{ identity.getName }}
                              {% endfor %}</li>
                <li>First Name: {{ user.getFirstName }}</li>
                <li>Last Name: {{ user.getLastName }}</li>
                <li>Status: {{ user.getStatus }}</li>
                <li>Kink Friendly: {{ user.getKinkFriendly }}</li>
                <li>Birthday: {{ user.getBirthday }}</li>
                <li>Email: {{ user.getEmail }}</li>
                <li>About Me: {{ user.getAboutMe }}</li>
                <li>Interests: {{ user.getInterests }}</li>
                <li>Seeking Gender: {% for gender in seeking_genders %}
                                {{ gender.getName }}
                              {% endfor %}</li>
                <li>Seeking Relationship Type: {{ user.getSeekingRelationshipType }}</li>
                <li>Last Login: {{ user.getLastLogin }}</li>
                <li>City: {{ user.getCityName }}</li>
                <li>Zip Code: {{ user.getZipCode }}</li>
                <li>ID: {{ user.getId }}</li>
                {% for image in user_images %}
                    {{ image.getName }}
                {% endfor %}
            </ul>
            {% for image in user_images %}
                <img src="{{ image.getUrl }}">
            {% endfor %}
            <br>
            <h4>Upload an Image</h4>
            <form action="/upload_image" method="post">
                <input type="hidden" value="{{ user.getId }}" name="user_id">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input name="title" id="title" type="text">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input name="description" id="description" type="text">
                </div>
                <div class="form-group">
                    <label for="url">Url</label>
                    <input name="url" id="url" type="text">
                </div>
                <button class="btn btn-primary" type="submit">Upload</button>
            </form>
        </div>
    </body>
    {% include 'footer.html' %}

</html>
