<!DOCTYPE html>
<html>
    {% include 'head.html' %}
    <div class="container-fluid">
     <nav class="navbar navbar-default topnav" role="navigation">
     <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            {% if session is not empty %}
            <a class="navbar-brand topnav" href="#" target="_blank">Welcome {{ session[0] }}</a>
            {% endif %}
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

                {% if session is empty %}
                <li>
                    <a href="/">Register</a>
                </li>
                <li>

                    <button id="log-in" type="submit">Sign-In</button>
                </li>
                {% else %}
                <li>
                    <a href="/user_sign_out">Sign-Out</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
     </div>
    </div>
    <!-- /.container -->
    <body>
        <div class="container">
            <h5> {{ user.getUsername }}</h5>
            <ul>
                <li>Password: {{ user.getPassword }}</li>
                <li>Identity:{% for identity in identities %}
                                {{ identity.getName }}
                              {% endfor %}</li>
                <li>First Name: {{ user.getFirstName }}</li>
                <li>Last Name: {{ user.getLastName }}</li>
                <li>Status: {{ user.getStatus }}</li>
                <li>Kink Friendly: {{ user.getKinkFriendly }}</li>
                <li>Birthday: {{ user.getBirthday }}</li>
                <li>Email: {{ user.getEmail }}</li>
                <li>About Me: {{ user.getAboutMe }}</li>
                <li>Interests: {{ user.getInterests }}</li>
                <li>Seeking Gender: {% for gender in seeking_genders %}
                                {{ gender.getName }}
                              {% endfor %}</li>
                <li>Seeking Relationship Type: {{ user.getSeekingRelationshipType }}</li>
                <li>Last Login: {{ user.getLastLogin }}</li>
                <li>City: {{ user.getCityName }}</li>
                <li>Zip Code: {{ user.getZipCode }}</li>
                <li>ID: {{ user.getId }}</li>
                {% for image in user_images %}
                    {{ image.getName }}
                {% endfor %}
            </ul>

            <br>
            <form action="/../upload.php" method="POST" enctype="multipart/form-data">
                Upload an Image
                <input type="file" name="myfile"><p></p>
                <input type="submit" value="Upload">
                Title
                <input name="title" type="text">
                Description
                <input type="text" name="description">
                URL
                <input type="text" name="url">
                <input type="hidden" value="{{ user.getId }}" name="user_id">
            </form>
        </div>
    </body>
    {% include 'footer.html' %}

</html>
