<!DOCTYPE html>
<html>
    {% include 'head.html' %}
    {% include 'navbar.html' %}
    <body>
        <div class="container">
            <h5> {{ user.getUsername }}</h5>
            <ul>
                <li>Password: {{ user.getPassword }}</li>
                <li>Identity:{% for identity in identities %}
                                {{ identity.getName }}
                              {% endfor %}</li>
                <li>First Name: {{ user.getFirstName }}</li>
                <li>Last Name: {{ user.getLastName }}</li>
                <li>Status: {{ user.getStatus }}</li>
                <li>Kink Friendly: {{ user.getKinkFriendly }}</li>
                <li>Birthday: {{ user.getBirthday }}</li>
                <li>Email: {{ user.getEmail }}</li>
                <li>About Me: {{ user.getAboutMe }}</li>
                <li>Interests: {{ user.getInterests }}</li>
                <li>Seeking Gender: {% for gender in seeking_genders %}
                                {{ gender.getName }}
                              {% endfor %}</li>
                <li>Seeking Relationship Type: {{ user.getSeekingRelationshipType }}</li>
                <li>Last Login: {{ user.getLastLogin }}</li>
                <li>City: {{ user.getCityName }}</li>
                <li>Zip Code: {{ user.getZipCode }}</li>
                <li>ID: {{ user.getId }}</li>
            </ul>
            <br>
            <form action="/delete_user" method="post">
                <input type="hidden" name="_method" value="delete">
                <input type="hidden" name="user_id" value="{{ user.getId }}">
                <button type="submit"class="btn btn-danger">Delete THIS User</button>
            </form>
        </div>
    </body>
    {% include 'footer.html' %}

</html>
